.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    scale: desplazamiento 3.5s ease-in-out infinite alternate
    top: 10%
    right: 80%
  &-2
    width: 60px
    animation: scale 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 60%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 0%
    right: 40%
  &-4
    width: 60px
    animation: scale 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 20%
  &-5
    width: 75px
    animation: float2 2.4s ease-in-out infinite alternate
    position: absolute
    top: 45%
    right: 0%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@-webkit-keyframes rotation 
  from 
    -webkit-transform: rotate(0deg)  
  to 
    -webkit-transform: rotate(359deg)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@keyframes scale
  0%
    transform: scale(1)

  100%
    transform: scale(1.2)

//// Tarjetas --------------------------------------
.crd
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: #F6F6F6
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)
      h4, p
        color: white 
      .bottomCircle
        &::before
          background-color: #FED981
  &.crd--blue
    background-color: #B1DBEA

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

  .bottomCircle
    position: relative
    & > *
      position: relative
    &::before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      width: 115px
      height: 115px
      background-color: $color-sistema-texto
      border-radius: 999px

.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #7F4FC7
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #C5E5FE

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: #DDEDF8 !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none

.bloque-texto-e i:first-of-type
    margin-right: 0px;

.bloque-texto-e i
    font-size: 1em;
    color: #000000;

.bloque-texto-e i:last-of-type
  margin-left: 1px;
  vertical-align: text-top;

.color-bloque
    background-color: #fee4ab;

.imgd
  width: 150%;
  border: solid;
  border-style: dashed;
  padding: 15px;

.acordion__header
    background-color: #dee2e6;

.acordion__contenido
    background-color: #f3f9ff;

.bloque-der
  .bloque-texto-g__img
    left: auto
    right: 0
    width: 40%
  .bloque-texto-g
    justify-content: start
  .bloque-texto-g__texto--border
    position: relative
    width: 57%
    border: 2px dashed #004B89
  .bloque-texto-g__texto
    width: 100%

.bloque-izquierda
  .bloque-texto-g__img
    right: auto
    left: 0
  .bloque-texto-g
    justify-content: right
  .bloque-texto-g__texto--border
    position: relative
    width: 57%
    border: 2px dashed #004B89
  .bloque-texto-g__texto
    width: 100%

.bloque-derecha
  .bloque-texto-g__img
    left: auto
    right: 0
  .bloque-texto-g
    justify-content: start
  .bloque-texto-g__texto--border
    position: relative
    width: 57%
    border: 2px dashed #004B89
  .bloque-texto-g__texto
    width: 100%

.bloque-izq
  .bloque-texto-g__img
    right: auto
    left: 0
    width: 40%
  .bloque-texto-g__texto--border
    position: relative
    width: 57%
    border: 2px dashed #004B89
  .bloque-texto-g__texto
    width: 100%

.border-dash
  border: 2px dashed #004B89

.dots-editados
  .infografica__item__dot:after ,,.img-infografica-b__item__dot:before
    opacity: 1 !important
  .img-infografica__item
    opacity: 1 !important
    transform: scale(2)
  .img-infografica__item:hover .img-infografica-b__item__tooltip
    display: none
  .img-infografica-b__modal
    background-color: #dee5e8
  .img-infografica__item__numero
    color: #004B89 !important

.bg-gradient
  background: rgb(0,78,150)
  background-color: linear-gradient(180deg, rgba(0,78,150,1) 0%, rgba(12,40,74,1) 100%)

.border-dash-rows
  border: 3px dashed #b9ddfc
  position: relative
  &:before
    content: url('../assets/curso/temas/tema1/adorno1.svg')
    position: absolute
    top: 0
    left: 0
    width: 57px
    height: 57px
    z-index: 1
    transform: translate(-50%, -50%)
  &:after
    content: url('../assets/curso/temas/tema1/adorno1.svg')
    position: absolute
    bottom: 0
    right: 0
    width: 57px
    height: 57px
    z-index: 1
    transform: rotate(180deg) translate(-50%, -50%)

p span
  color: #FFB30B;
  font-weight: bold;

.cajon-b:before
  opacity: 0.29;

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #00DEFC;

.img-infografica.color-acento-botones .img-infografica__item__dot:before
  background-color: #FCCB60;

.img-infografica.color-acento-botones .img-infografica__item__dot:before, .img-infografica.color-acento-botones .img-infografica__item__dot:after, .img-infografica.color-acento-botones .img-infografica-b__item__dot:before, .img-infografica.color-acento-botones .img-infografica-b__item__dot:after, .img-infografica-b.color-acento-botones .img-infografica__item__dot:before, .img-infografica-b.color-acento-botones .img-infografica__item__dot:after, .img-infografica-b.color-acento-botones .img-infografica-b__item__dot:before, .img-infografica-b.color-acento-botones .img-infografica-b__item__dot:after
  background-color: #FCCB60;

.cajon.color-primario
    background-color: #B9DDFC;

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: #00DEFC;

.slyder-a__bullets__item
  background-color: #98f3ff;

.slyder-a__bullets__item--active
    background-color: #00DEFC;
    border-color: #00DEFC;

  
.acordion__activo
  background-color: rgb(185, 221, 252)
.acordion__activo .acordion__header
  background-color: rgb(185, 221, 252);
.acordion__activo .acordion__contenido__item
  background-color: rgb(185, 221, 252);
.acordion__accion__btn--a
  background-color: #084A93;
  color: white;

.lista-ol--cuadro__vineta
    background-color: #FFB30B;

.banner-interno__fondo
  background-image: url('../assets/curso/bg-interno.png') !important
